# SHARK ATTACKS

In [160]:
# importando as bibliotecas que serão utilizadas
import numpy as np
import pandas as pd
import re

## LEITURA DO DATASET

In [161]:
# importando o Dataset e transformando em um DataFrame
sa=pd.read_csv("./attacks 2.csv", encoding="latin1")

In [162]:
# lendo o DataFrame
sa.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,Minor injury to lower leg,N,NaN,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,NaN,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN

In [163]:
# criando uma variável que exibe uma cópia do DataFrame original
sa_bkp=sa.copy()

In [164]:
# possibilitando a leitura de todas as colunas do DataFrame
pd.options.display.max_columns=99

In [165]:
# lendo o DataFrame com todas as colunas
sa.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,Minor injury to lower leg,N,NaN,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,NaN,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN

## LIMPEZA, MANIPULAÇÃO E ANÁLISE DO DATAFRAME

In [166]:
# verificando a quantidade de linhas não-nulas de cada coluna e o tipo de cada uma delas
sa.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25723 entries, 0 to 25722
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case Number             8702 non-null   object
 1   Date                    6302 non-null   object
 2   Year                    6300 non-null   float64
 3   Type                    6298 non-null   object
 4   Country                 6252 non-null   object
 5   Area                    5847 non-null   object
 6   Location                5762 non-null   object
 7   Activity                5758 non-null   object
 8   Name                    6092 non-null   object
 9   Sex                     5737 non-null   object
 10  Age                     3471 non-null   object
 11  Injury                  6274 non-null   object
 12  Fatal (Y/N)             5763 non-null   object
 13  Time                    2948 non-null   object
 14  Species                 3464 non-null   object
 15  Investigator or Source  6285 non-null   object
 16  pdf                     6302 non-null   object
 17  href formula            6301 non-null   object
 18  href                    6302 non-null   object
 19  Case Number.1           6302 non-null   object
 20  Case Number.2           6302 non-null   object
 21  original order          6309 non-null   float64
 22  Unnamed: 22             1 non-null      object
 23  Unnamed: 23             2 non-null      object
dtypes: float64(2), object(22)
memory usage: 4.7+ MB

In [167]:
# verificando a quantidade de linhas nulas de cada coluna
sa.isnull().sum()

Case Number               17021
Date                      19421
Year                      19423
Type                      19425
Country                   19471
Area                      19876
Location                  19961
Activity                  19965
Name                      19631
Sex                       19986
Age                       22252
Injury                    19449
Fatal (Y/N)               19960
Time                      22775
Species                   22259
Investigator or Source    19438
pdf                       19421
href formula              19422
href                      19421
Case Number.1             19421
Case Number.2             19421
original order            19414
Unnamed: 22               25722
Unnamed: 23               25721
dtype: int64

In [168]:
# colocando o nome das colunas em letras minúsculas e apagando os possíveis espaços após o nome
sa.columns=[col.lower().rstrip() for col in sa.columns]

In [169]:
# redefinindo o DataFrame com as colunas que serão relevantes na análise
sa=sa[["case number", "year", "country", "area", "location", "activity", "sex", "age", "fatal (y/n)", "time"]]

In [170]:
# renomeando o nome da coluna "fatal" (que informa se o ataque foi fatal ou nao)
sa.rename({"fatal (y/n)": "fatal"}, axis=1, inplace=True)

In [171]:
# removendo linhas que contêm informações repetidas em todas as colunas
sa.drop_duplicates(inplace=True)

In [172]:
# verificando a quantidade de casos (linhas) de cada país
sa["country"].value_counts()

USA                          2229
AUSTRALIA                    1338
SOUTH AFRICA                  579
PAPUA NEW GUINEA              134
NEW ZEALAND                   128
                             ...
KOREA                           1
ARUBA                           1
SOLOMON ISLANDS / VANUATU       1
PARAGUAY                        1
ST. MARTIN                      1
Name: country, Length: 212, dtype: int64

In [173]:
# verificando a quantidade de casos (linhas) de cada atividade
sa["activity"].value_counts()

Surfing                                                        971
Swimming                                                       869
Fishing                                                        431
Spearfishing                                                   333
Bathing                                                        162
                                                              ...
American schooner Orator capsized                                1
Adrift on raft after their ship was sunk by an Axis raider       1
Spearfishing, speared a small shark                              1
Body found on deserted luxury yacht, 38 Christine               1
Shipwrecked; adrift on raft for 2 days & 2 nights                1
Name: activity, Length: 1532, dtype: int64

In [174]:
# verificando a quantidade de casos (linhas) que são fatais ou não
sa["fatal"].value_counts()

N          4293
Y          1388
UNKNOWN      71
 N            7
N             1
2017          1
y             1
M             1
Name: fatal, dtype: int64

In [175]:
# criando uma variável que exibe o número total de mortes por país
num_mortes_pais=sa.loc[sa["fatal"]=="Y", :].country.value_counts()

In [176]:
# lendo a variável criada
num_mortes_pais

AUSTRALIA           283
USA                 186
SOUTH AFRICA        106
PAPUA NEW GUINEA     56
MEXICO               43
                   ...
GUYANA                1
MAYOTTE               1
NAMIBIA               1
Sierra Leone          1
MONTENEGRO            1
Name: country, Length: 147, dtype: int64

In [177]:
# criando uma variável que exibe o número total de casos por país
num_casos_pais=sa["country"].value_counts()

In [178]:
# lendo a variável criada
num_casos_pais

USA                          2229
AUSTRALIA                    1338
SOUTH AFRICA                  579
PAPUA NEW GUINEA              134
NEW ZEALAND                   128
                             ...
KOREA                           1
ARUBA                           1
SOLOMON ISLANDS / VANUATU       1
PARAGUAY                        1
ST. MARTIN                      1
Name: country, Length: 212, dtype: int64

In [179]:
# calculando o índice de mortes nos Estados Unidos
num_mortes_pais["USA"]/num_casos_pais["USA"]

0.08344549125168237

In [180]:
# calculando o índice de mortes na Austrália
num_mortes_pais["AUSTRALIA"]/num_casos_pais["AUSTRALIA"]

0.21150971599402094

In [181]:
# calculando o índice de mortes na África do Sul
num_mortes_pais["SOUTH AFRICA"]/num_casos_pais["SOUTH AFRICA"]

0.18307426597582038

In [182]:
# salvando o DataFrame atualizado em uma variável para utilizá-la depois
sa_bkp_ano=sa.copy()

### Análise dos dados do século 21 incluindo o ano 2000 (2000-2018)

In [183]:
# criando uma variável que exibe um DataFrame com todos os casos do século 21 (com base no DataFrame atualizado)
sa_2000=sa.loc[sa["year"]>=2000, :]

In [184]:
# verificando o DataFrame criado
sa_2000.head()

,case number,year,country,area,location,activity,sex,age,fatal,time
0,2018.06.25,2018.0,USA,California,"Oceanside, San Diego County",Paddling,F,57,N,18h00
1,2018.06.18,2018.0,USA,Georgia,"St. Simon Island, Glynn County",Standing,F,11,N,14h00 -15h00
2,2018.06.09,2018.0,USA,Hawaii,"Habush, Oahu",Surfing,M,48,N,07h45
3,2018.06.08,2018.0,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,M,NaN,N,NaN
4,2018.06.04,2018.0,MEXICO,Colima,La Ticla,Free diving,M,NaN,N,NaN

In [185]:
# verificando a quantidade de linhas não-nulas do DataFrame
sa_2000.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2078 entries, 0 to 2078
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   case number  2078 non-null   object
 1   year         2078 non-null   float64
 2   country      2076 non-null   object
 3   area         1988 non-null   object
 4   location     1991 non-null   object
 5   activity     1987 non-null   object
 6   sex          1974 non-null   object
 7   age          1552 non-null   object
 8   fatal        1917 non-null   object
 9   time         1478 non-null   object
dtypes: float64(1), object(9)
memory usage: 178.6+ KB

In [186]:
# mudando o tipo da coluna que informa o ano de float para int
sa_2000["year"]=sa_2000["year"].astype("int")

<ipython-input-186-fbbb82da6514>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sa_2000["year"]=sa_2000["year"].astype("int")

In [187]:
# excluindo as linhas em que a informação da coluna "fatal" é nula 
sa_2000.dropna(subset=["fatal"], inplace=True)

<ipython-input-187-eb0601242b02>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sa_2000.dropna(subset=["fatal"], inplace=True)

In [188]:
# verificando a quantidade de ataques fatais ou não
sa_2000["fatal"].value_counts()

N          1738
Y           175
UNKNOWN       2
M             1
2017          1
Name: fatal, dtype: int64

In [189]:
# redefenindo a coluna "fatal" com apenas dois tipos de valores: "Y" (se foi fatal) e "N" (se não foi fatal)
sa_2000=sa_2000.loc[(sa_2000["fatal"]=="Y")|(sa_2000["fatal"]=="N"), :]
# sa_2000.loc[sa_2000['fatal'].isin(['Y','N']), :]

In [190]:
# verificando a quantidade de ataques fatais ou não
sa_2000["fatal"].value_counts()

N    1738
Y     175
Name: fatal, dtype: int64

In [191]:
# verificando a quantidade de linhas não-nulas de cada coluna
sa_2000.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1913 entries, 0 to 2078
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   case number  1913 non-null   object
 1   year         1913 non-null   int64
 2   country      1912 non-null   object
 3   area         1836 non-null   object
 4   location     1839 non-null   object
 5   activity     1848 non-null   object
 6   sex          1824 non-null   object
 7   age          1445 non-null   object
 8   fatal        1913 non-null   object
 9   time         1408 non-null   object
dtypes: int64(1), object(9)
memory usage: 164.4+ KB

In [192]:
# excluindo as linhas em que a informação da coluna dos países é nula 
sa_2000.dropna(subset=["country"], inplace=True)

In [193]:
# verificando a quantidade de linhas não-nulas de cada coluna
sa_2000.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1912 entries, 0 to 2078
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   case number  1912 non-null   object
 1   year         1912 non-null   int64
 2   country      1912 non-null   object
 3   area         1836 non-null   object
 4   location     1839 non-null   object
 5   activity     1847 non-null   object
 6   sex          1823 non-null   object
 7   age          1444 non-null   object
 8   fatal        1912 non-null   object
 9   time         1408 non-null   object
dtypes: int64(1), object(9)
memory usage: 164.3+ KB

#### Análise do índice de mortes por país

In [194]:
# criando uma nova coluna no DataFrame com os valores 1 (se o caso foi fatal) e 0 (se o caso não foi fatal)
sa_2000["morte"]=[1 if fatal=="Y" else 0 for fatal in sa_2000["fatal"]]

In [195]:
# verificando o DataFrame com a nova coluna
sa_2000.head()

,case number,year,country,area,location,activity,sex,age,fatal,time,morte
0,2018.06.25,2018,USA,California,"Oceanside, San Diego County",Paddling,F,57,N,18h00,0
1,2018.06.18,2018,USA,Georgia,"St. Simon Island, Glynn County",Standing,F,11,N,14h00 -15h00,0
2,2018.06.09,2018,USA,Hawaii,"Habush, Oahu",Surfing,M,48,N,07h45,0
3,2018.06.08,2018,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,M,NaN,N,NaN,0
4,2018.06.04,2018,MEXICO,Colima,La Ticla,Free diving,M,NaN,N,NaN,0

In [196]:
# criando uma variável que exibe um DataFrame que informa a quantidade de casos e mortes por país
sa_2000_analise_mortes=sa_2000.groupby(by="country").agg(num_casos_2000a2018=("country", "count"), num_mortes_2000a2018=("morte", "sum")).reset_index()

In [197]:
# verificando o novo DataFrame criado
sa_2000_analise_mortes.head()

          country  num_casos_2000a2018  num_mortes_2000a2018
0           TONGA                    3                     2
1           ARUBA                    1                     1
2  ATLANTIC OCEAN                    4                     0
3       AUSTRALIA                  362                    33
4          AZORES                    2                     0

In [198]:
# criando uma nova coluna que informa o índice de mortes por país
sa_2000_analise_mortes["prop_mortes_2000a2018"]=sa_2000_analise_mortes["num_mortes_2000a2018"]/sa_2000_analise_mortes["num_casos_2000a2018"]

In [199]:
# ordenando o DataFrame por número de casos
sa_2000_analise_mortes=sa_2000_analise_mortes.sort_values("num_casos_2000a2018", ascending=False)

In [200]:
# verificando o DataFrame com a nova coluna e ordenado pelo número de casos
sa_2000_analise_mortes.head()

,country,num_casos_2000a2018,num_mortes_2000a2018,prop_mortes_2000a2018
81,USA,951,20,0.021030
3,AUSTRALIA,362,33,0.091160
64,SOUTH AFRICA,124,22,0.177419
5,BAHAMAS,51,1,0.019608
7,BRAZIL,49,18,0.367347

In [201]:
# criando uma variável que exibe um DataFrame com todos os casos de morte
sa_2000_mortes=sa_2000.loc[sa_2000["morte"]==1, :]

In [202]:
# verificando o novo DataFrame criado
sa_2000_mortes.head()

,case number,year,country,area,location,activity,sex,age,fatal,time,morte
6,2018.06.03.a,2018,BRAZIL,Pernambuco,"Piedade Beach, Recife",Swimming,M,18,Y,Late afternoon,1
58,2017.11.30.a,2017,COSTA RICA,Cocos Island,Manuelita,Scuba diving,F,49,Y,NaN,1
59,2017.11.25.R,2017,LIBYA,NaN,Gars Garabulli,2 boats capsized,NaN,NaN,Y,NaN,1
64,2017.11.04,2017,CUBA,Holquin Province,Guardalavaca Beach,Night bathing,M,22,Y,23h30,1
91,2017.09.03.b,2017,SOUTH AFRICA,Western Cape Province,Dyer Island,"Swimming, poaching abalone",M,NaN,Y,Morning,1

In [203]:
# pd.options.display.max_rows=99 (verificar todos os casos/linhas do DataFrame)

In [204]:
# verificando os casos de morte no Brasil
sa_2000_mortes.loc[sa_2000["country"]=="BRAZIL", :].head()

,case number,year,country,area,location,activity,sex,age,fatal,time,morte
6,2018.06.03.a,2018,BRAZIL,Pernambuco,"Piedade Beach, Recife",Swimming,M,18,Y,Late afternoon,1
651,2013.07.22,2013,BRAZIL,Pernambuco,"Boa Viagem Beach, Recife",Swimming,F,18,Y,13h20,1
673,2013.05.23.b,2013,BRAZIL,Pernambuco,Coral Cove Beach,NaN,M,41,Y,NaN,1
751,2012.08.26,2012,BRAZIL,Pernambuco,"Coral Cove, Cabo de Santo Agostinho",Swimming,M,18,Y,Afternoon,1
1090,2009.09.13,2009,BRAZIL,Pernambuco,"Piedade, Recife",NaN,M,34,Y,NaN,1

In [205]:
# verificando os casos de morte nos Estados Unidos
sa_2000_mortes.loc[sa_2000["country"]=="USA", :].head()

,case number,year,country,area,location,activity,sex,age,fatal,time,morte
429,2015.04.29,2015,USA,Hawaii,Kanahena Cove,Snorkeling,F,65,Y,09h00,1
596,2013.12.02,2013,USA,Hawaii,"Between Makena & Molokini, Maui",Kayaking / Fishing,M,57,Y,09h00,1
639,2013.08.14,2013,USA,Hawaii,"Makenat, Maui",Snorkeling,F,20,Y,16h30,1
728,2012.10.23,2012,USA,California,"Surf Beach, Lompoc, Santa Barbara County",Surfing,M,39,Y,11h00,1
978,2010.10.22,2010,USA,California,"Surf Beach, Vandenberg AFB, Santa Barbara County",Body boarding,M,19,Y,08h50,1

In [206]:
sa_2000_mortes["activity"].value_counts()

Swimming                                                                                                                                      39
Surfing                                                                                                                                       26
Body boarding                                                                                                                                 11
Snorkeling                                                                                                                                     9
Diving                                                                                                                                         8
Spearfishing                                                                                                                                   8
Scuba diving                                                                                                                                   4
Sea Disaster                                                                                                                                   3
Fishing                                                                                                                                        3
Kite Boarding                                                                                                                                  2
Five men on makeshift raft after their 10 m fishing boat  capsized and sank in rough seas. Survivors rescued after  7.5 hours in the water     2
Swimming                                                                                                                                       2
Murder                                                                                                                                         2
Sinking of the 40' Esperanza off St. Maartin with 36 refugees on board                                                                         1
2 boats capsized                                                                                                                               1
The 426-ton cargo ship Mia, laden with cement, capsized in heavy seas                                                                          1
Diving for abalone                                                                                                                             1
Sea disaster                                                                                                                                   1
Swimming with boogie board                                                                                                                     1
Air disaster. Flash Airlines Boeing 737 crashed into the Red Sea                                                                               1
Spearfishing, carrying his catch                                                                                                               1
Capsized fishing boat                                                                                                                          1
Scallop diving on hookah                                                                                                                       1
Wading to shore from his boat                                                                                                                  1
Standing                                                                                                                                       1
Spearfishing / Free diving                                                                                                                     1
Walking                                                                                                                                        1
Canoe with 3 men onboard sank                                                                                                                  1
Fishing for shrimp                                                                                                                             1
Boogie Boarding                                                                                                                                1
Night diving                                                                                                                                   1
Air Disaster - Piper aircraft crashed into the sea, killing all on board                                                                       1
Swimming to shore from boat or kayak                                                                                                           1
Swimming & snorkeling                                                                                                                          1
Night bathing                                                                                                                                  1
Paddling on kneeboard                                                                                                                          1
Swimming, wearing black wetsuit & swim fins                                                                                                    1
Spearfishing (Free diving)                                                                                                                     1
Air Disaster                                                                                                                                   1
Attempting to retreive a dinghy                                                                                                                1
Removing shark from net                                                                                                                        1
Wreck / Technical diving                                                                                                                       1
Swimming back from anchored sailboat                                                                                                           1
Fishing boat swamped in storm                                                                                                                  1
Swimming, poaching abalone                                                                                                                     1
Scallop diving (using surface-supplied air & a POD)                                                                                            1
Kayaking / Fishing                                                                                                                             1
Swimming, poaching perlemoen                                                                                                                   1
Swimming / shipwreck                                                                                                                           1
Shark Fishing                                                                                                                                  1
Washing his feet                                                                                                                               1
Swimming, attempting to rescue a girl  believed to be drowning                                                                                 1
Diving for beche-de-mer                                                                                                                        1
Jumped into the water                                                                                                                          1
Kite surfing                                                                                                                                   1
Swimming / Body Surfing                                                                                                                        1
Swimming or Snorkeling                                                                                                                         1
Swimming to shore from capsized kayak                                                                                                          1
Swimming / snorkeling                                                                                                                          1
Scurfing (surfboard being  towed behind a boat)                                                                                                1
Name: activity, dtype: int64

In [207]:
# verificando o número total de cada atividade dos casos nos Estados Unidos
sa_2000.loc[sa_2000["country"]=="USA", :]["activity"].value_counts()

Surfing                                           347
Swimming                                          134
Wading                                             59
Standing                                           28
Fishing                                            28
                                                 ...
Sea Disaster                                        1
Standing or boogie boardin                          1
Swimming /  boogie boarding                         1
Boogie boarding / wading                            1
Walking, carrying surfboard & stepped on shark      1
Name: activity, Length: 144, dtype: int64

In [208]:
# verificando o número total de cada atividade dos casos na Austrália
sa_2000.loc[sa_2000["country"]=="AUSTRALIA", :]["activity"].value_counts()

Surfing                                            142
Fishing                                             34
Swimming                                            33
Spearfishing                                        23
Snorkeling                                          18
                                                  ...
Yacht race                                           1
Kayak fishing for sharks                             1
Swimming / jumping off a jetty                       1
Filming                                              1
Scurfing (surfboard being  towed behind a boat)      1
Name: activity, Length: 62, dtype: int64

### Análise dos dados do século incluindo o ano 2000 (1900-1999)

In [209]:
sa_bkp_ano

,case number,year,country,area,location,activity,sex,age,fatal,time
0,2018.06.25,2018.0,USA,California,"Oceanside, San Diego County",Paddling,F,57,N,18h00
1,2018.06.18,2018.0,USA,Georgia,"St. Simon Island, Glynn County",Standing,F,11,N,14h00 -15h00
2,2018.06.09,2018.0,USA,Hawaii,"Habush, Oahu",Surfing,M,48,N,07h45
3,2018.06.08,2018.0,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,M,NaN,N,NaN
4,2018.06.04,2018.0,MEXICO,Colima,La Ticla,Free diving,M,NaN,N,NaN
...,...,...,...,...,...,...,...,...,...,...
6300,ND.0002,0.0,PANAMA,NaN,"Panama Bay 8ºN, 79ºW",NaN,M,NaN,Y,NaN
6301,ND.0001,0.0,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,M,15,Y,NaN
6302,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8702,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25722,xx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [210]:
sa_bkp_ano.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6305 entries, 0 to 25722
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   case number  6303 non-null   object
 1   year         6300 non-null   float64
 2   country      6252 non-null   object
 3   area         5847 non-null   object
 4   location     5762 non-null   object
 5   activity     5758 non-null   object
 6   sex          5737 non-null   object
 7   age          3471 non-null   object
 8   fatal        5763 non-null   object
 9   time         2948 non-null   object
dtypes: float64(1), object(9)
memory usage: 541.8+ KB

In [211]:
# criando uma variável que resgata um DataFrame que foi salvo anteriormente
sa_1900=sa_bkp_ano

In [212]:
# redefinindo a variável criada para exibir um DataFrame com todos os casos do século 20
sa_1900=sa_1900.loc[(sa_1900["year"]>=1900) & (sa_1900["year"]<2000), :]

In [213]:
# verificando o DataFrame criado
sa_1900.head()

,case number,year,country,area,location,activity,sex,age,fatal,time
2079,1999.12.31.c,1999.0,NEW ZEALAND,South Island,Oreti Beach,Surfing,M,15,N,NaN
2080,1999.12.31.b,1999.0,NEW ZEALAND,South Island,Oreti Beach,Swimming,F,13,N,NaN
2081,1999.12.31.a,1999.0,NEW ZEALAND,South Island,Oreti Beach,Bathing,F,12,N,NaN
2082,1999.12.26,1999.0,BRAZIL,Pernambuco,"Boa Viagem Beach, Recife",Surfing,M,18,N,NaN
2083,1999.12.14,1999.0,USA,California,"Off Ventura, Anacapa & Santa Cruz Islands",Scuba diving,M,NaN,NaN,NaN

In [214]:
# verificando a quantidade de linhas não-nulas do DataFrame
sa_1900.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3484 entries, 2079 to 5563
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   case number  3483 non-null   object
 1   year         3484 non-null   float64
 2   country      3462 non-null   object
 3   area         3261 non-null   object
 4   location     3194 non-null   object
 5   activity     3140 non-null   object
 6   sex          3087 non-null   object
 7   age          1827 non-null   object
 8   fatal        3181 non-null   object
 9   time         1372 non-null   object
dtypes: float64(1), object(9)
memory usage: 299.4+ KB

In [215]:
# mudando o tipo da coluna que informa o ano de float para int
sa_1900["year"]=sa_1900["year"].astype("int")

<ipython-input-215-db0c0993ca0d>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sa_1900["year"]=sa_1900["year"].astype("int")

In [216]:
# excluindo as linhas em que a informação da coluna "fatal" é nula 
sa_1900.dropna(subset=["fatal"], inplace=True)

<ipython-input-216-d24e7432a5e4>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sa_1900.dropna(subset=["fatal"], inplace=True)

In [217]:
# verificando a quantidade de ataques fatais ou não
sa_1900.fatal.value_counts()

N          2269
Y           851
UNKNOWN      53
 N            7
N             1
Name: fatal, dtype: int64

In [218]:
# redefenindo a coluna "fatal" com apenas dois tipos de valores: "Y" (se foi fatal) e "N" (se não foi fatal)
sa_1900=sa_1900.loc[(sa_1900["fatal"]=="Y")|(sa_1900["fatal"]=="N"), :]
# sa_1900.loc[sa_1900['fatal'].isin(['Y','N']), :]

In [219]:
# verificando a quantidade de ataques fatais ou não
sa_1900["fatal"].value_counts()

N    2269
Y     851
Name: fatal, dtype: int64

In [220]:
# verificando a quantidade de linhas não-nulas de cada coluna
sa_1900.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3120 entries, 2079 to 5563
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   case number  3119 non-null   object
 1   year         3120 non-null   int64
 2   country      3101 non-null   object
 3   area         2922 non-null   object
 4   location     2866 non-null   object
 5   activity     2879 non-null   object
 6   sex          2800 non-null   object
 7   age          1695 non-null   object
 8   fatal        3120 non-null   object
 9   time         1289 non-null   object
dtypes: int64(1), object(9)
memory usage: 268.1+ KB

In [221]:
# excluindo as linhas em que a informação da coluna dos países é nula 
sa_1900.dropna(subset=["country"], inplace=True)

In [222]:
# verificando a quantidade de linhas não-nulas de cada coluna
sa_1900.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3101 entries, 2079 to 5563
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   case number  3100 non-null   object
 1   year         3101 non-null   int64
 2   country      3101 non-null   object
 3   area         2914 non-null   object
 4   location     2861 non-null   object
 5   activity     2864 non-null   object
 6   sex          2782 non-null   object
 7   age          1691 non-null   object
 8   fatal        3101 non-null   object
 9   time         1286 non-null   object
dtypes: int64(1), object(9)
memory usage: 266.5+ KB

#### Análise do índice de mortes por país

In [223]:
# criando uma nova coluna no DataFrame com os valores 1 (se o caso foi fatal) e 0 (se o caso não foi fatal)
sa_1900["morte"]=[1 if fatal=="Y" else 0 for fatal in sa_1900["fatal"]]

In [224]:
# verificando o DataFrame com a nova coluna
sa_1900.head()

,case number,year,country,area,location,activity,sex,age,fatal,time,morte
2079,1999.12.31.c,1999,NEW ZEALAND,South Island,Oreti Beach,Surfing,M,15,N,NaN,0
2080,1999.12.31.b,1999,NEW ZEALAND,South Island,Oreti Beach,Swimming,F,13,N,NaN,0
2081,1999.12.31.a,1999,NEW ZEALAND,South Island,Oreti Beach,Bathing,F,12,N,NaN,0
2082,1999.12.26,1999,BRAZIL,Pernambuco,"Boa Viagem Beach, Recife",Surfing,M,18,N,NaN,0
2084,1999.12.06,1999,BRAZIL,Rio de Janeiro,"Rio de Janeiro, Guanabara Bay",Spearfishing,M,39,N,09h30,0

In [225]:
# criando uma variável que exibe um DataFrame que informa a quantidade de casos e mortes por país
sa_1900_analise_mortes=sa_1900.groupby(by="country").agg(num_casos_1900a1999=("country", "count"), num_mortes_1900a1999=("morte", "sum")).reset_index()

In [226]:
# verificando o novo DataFrame criado
sa_1900_analise_mortes.head()

                      country  num_casos_1900a1999  num_mortes_1900a1999
0                 PHILIPPINES                    1                     1
1           ADMIRALTY ISLANDS                    1                     0
2              AMERICAN SAMOA                    3                     3
3  ANDAMAN / NICOBAR ISLANDAS                    1                     1
4                      ANGOLA                    1                     0

In [227]:
# criando uma nova coluna que informa o índice de mortes por país
sa_1900_analise_mortes["prop_mortes_1900a1999"]=sa_1900_analise_mortes["num_mortes_1900a1999"]/sa_1900_analise_mortes["num_casos_1900a1999"]

In [228]:
# ordenando o DataFrame por número de casos
sa_1900_analise_mortes=sa_1900_analise_mortes.sort_values("num_casos_1900a1999", ascending=False)

In [229]:
# verificando o DataFrame com a nova coluna e ordenado pelo número de casos
sa_1900_analise_mortes.head()

,country,num_casos_1900a1999,num_mortes_1900a1999,prop_mortes_1900a1999
143,USA,944,112,0.118644
7,AUSTRALIA,701,186,0.265335
124,SOUTH AFRICA,363,65,0.179063
104,PAPUA NEW GUINEA,116,51,0.439655
89,NEW ZEALAND,50,8,0.160000

In [230]:
# criando uma variável que exibe um DataFrame com todos os casos de morte
sa_1900_mortes=sa_1900.loc[sa_1900["morte"]==1, :]

In [231]:
# verificando o novo DataFrame criado
sa_1900_mortes.head()

,case number,year,country,area,location,activity,sex,age,fatal,time,morte
2115,1999.07.15,1999,SOUTH AFRICA,Western Cape Province,Buffels Bay (near Knysna),Boogie boarding,M,14,Y,11h15,1
2123,1999.05.29,1999,AUSTRALIA,South Australia,"Hardwicke Bay, Yorke Peninsula",Windsurfing,M,22,Y,14h30,1
2126,1999.04.11,1999,REUNION,L' Etang Salé-les-Bains,Roche-aux-Oiseaux,Swimming after being swept into sea by a large...,M,52,Y,10h30,1
2130,1999.03.18.a,1999,USA,Hawaii,"Olowalu side of Lahina, Maui","Swimming, towing a kayak",F,29,Y,20h30,1
2142,1999.01.03,1999,REUNION,Saint-Leu,Pointe au Sel,Spearfishing,NaN,NaN,Y,NaN,1

In [232]:
# verificando os casos de morte nos Estados Unidos
sa_1900_mortes.loc[sa_1900_mortes["country"]=="USA", :].head()

,case number,year,country,area,location,activity,sex,age,fatal,time,morte
2130,1999.03.18.a,1999,USA,Hawaii,"Olowalu side of Lahina, Maui","Swimming, towing a kayak",F,29,Y,20h30,1
2150,1998.11.21,1998,USA,Florida,"Ocean Beach, Jaycee Park, Vero Beach, Indian R...",Swimming,M,9,Y,14h00,1
2343,1995.09.13,1995,USA,Florida,"Alligator Reef, off Islamorada, Monroe County",Scuba diving,M,25,Y,NaN,1
2411,1994.12.09.a,1994,USA,California,"San Miguel Island, Santa Barbara County",Commercial diver (submerged or treading water),M,42,Y,08h45,1
2422,1994.09.11.R,1994,USA,Florida,Florida Straits,Adrift on refugee raft,M,7 & 31,Y,NaN,1

### Análise e comparação entre os dados de casos e mortes dos séculos 20 (incluindo o ano 1900) e 21 (incluindo o ano 2000)

In [233]:
# criando uma variável que exibe um DataFrame unindo os DataFrame sobre o índice de mortes dos séculos 20 e 21
analise_final=pd.merge(left=sa_2000_analise_mortes, right=sa_1900_analise_mortes, on="country")

In [234]:
# verificando o novo DataFrame
analise_final.head()

,country,num_casos_2000a2018,num_mortes_2000a2018,prop_mortes_2000a2018,num_casos_1900a1999,num_mortes_1900a1999,prop_mortes_1900a1999
0,USA,951,20,0.021030,944,112,0.118644
1,AUSTRALIA,362,33,0.091160,701,186,0.265335
2,SOUTH AFRICA,124,22,0.177419,363,65,0.179063
3,BAHAMAS,51,1,0.019608,44,4,0.090909
4,BRAZIL,49,18,0.367347,49,17,0.346939

In [235]:
# criando uma variável que exibe um DataFrame apenas do Brasil e dos países que tiveram mais de 100 casos em algum dos dois séculos
analise_final_ok=analise_final.loc[(analise_final["num_casos_2000a2018"]>=100) | (analise_final["num_casos_1900a1999"]>=100) | (analise_final["country"]=="BRAZIL"), :]

In [236]:
# verificando o novo DataFrame criado
analise_final_ok

,country,num_casos_2000a2018,num_mortes_2000a2018,prop_mortes_2000a2018,num_casos_1900a1999,num_mortes_1900a1999,prop_mortes_1900a1999
0,USA,951,20,0.021030,944,112,0.118644
1,AUSTRALIA,362,33,0.091160,701,186,0.265335
2,SOUTH AFRICA,124,22,0.177419,363,65,0.179063
4,BRAZIL,49,18,0.367347,49,17,0.346939
15,PAPUA NEW GUINEA,9,3,0.333333,116,51,0.439655

### ANÁLISE FINAL PARA OS ESTADOS UNIDOS

#### ANÁLISE DO ÍNDICE DE MORTES

* **Mortes por ano no século 21**

In [237]:
# criando uma variável que exibe um DataFrame do número de mortes nos Estados Unidos no século 21
USA_mortes_2000=sa_2000_mortes.loc[sa_2000_mortes["country"]=="USA", :]

In [238]:
# redefinindo a variável criada para exibir o DataFrame com o número de mortes por ano
USA_mortes_2000=USA_mortes_2000.groupby(by="year").agg(mortes=("year", "count")).reset_index()

In [239]:
# verificando o DataFrame atualizado
USA_mortes_2000.head()

   year  mortes
0  2000       1
1  2001       3
2  2002       1
3  2003       2
4  2004       2

* **Mortes por ano no século 20**

In [240]:
# criando uma variável que exibe um DataFrame do número de mortes nos Estados Unidos no século 20
USA_mortes_1900=sa_1900_mortes.loc[sa_1900_mortes["country"]=="USA", :]

In [241]:
# redefinindo a variável criada para exibir o DataFrame com o número de mortes por ano
USA_mortes_1900=USA_mortes_1900.groupby(by="year").agg(mortes=("year", "count")).reset_index()

In [242]:
# verificando o DataFrame atualizado
USA_mortes_1900.head()

   year  mortes
0  1902       1
1  1903       1
2  1904       2
3  1905       2
4  1906       4

* **Mortes por ano nos séculos 20 e 21**

In [243]:
# criando uma variável que exibe um DataFrame unindo os DataFrame sobre mortes por ano dos séculos 20 e 21
USA_concat_mortes=pd.concat([USA_mortes_1900, USA_mortes_2000])

In [244]:
# verificando o novo DataFrame
USA_concat_mortes.head()

   year  mortes
0  1902       1
1  1903       1
2  1904       2
3  1905       2
4  1906       4

* **Casos por ano no século 21**

In [245]:
# criando uma variável que exibe um DataFrame do número de casos nos Estados Unidos no século 21
USA_casos_2000=sa_2000.loc[sa_2000["country"]=="USA", :]

In [246]:
# redefinindo a variável criada para exibir o DataFrame com o número de casos por ano
USA_casos_2000=USA_casos_2000.groupby(by="year").agg(casos=("year", "count")).reset_index()

In [247]:
# verificando o novo DataFrame
USA_casos_2000.head()

   year  casos
0  2000     49
1  2001     58
2  2002     49
3  2003     52
4  2004     32

* **Casos por ano no século 20**

In [248]:
# criando uma variável que exibe um DataFrame do número de casos nos Estados Unidos no século 20
USA_casos_1900=sa_1900.loc[sa_1900["country"]=="USA", :]

In [249]:
# redefinindo a variável criada para exibir o DataFrame com o número de casos por ano
USA_casos_1900=USA_casos_1900.groupby(by="year").agg(casos=("year", "count")).reset_index()

In [250]:
# verificando o DataFrame
USA_casos_1900.casos.sum()

944

* **Casos por ano nos séculos 20 e 21**

In [251]:
# criando uma variável que exibe um DataFrame unindo os DataFrame sobre casos por ano dos séculos 20 e 21
USA_concat_casos=pd.concat([USA_casos_1900, USA_casos_2000])

In [252]:
# verificando o novo DataFrame
USA_concat_casos.head()

   year  casos
0  1900      4
1  1901      1
2  1902      3
3  1903      2
4  1904      3

* **Cálculo do índice de mortes nos séculos 20 e 21**

In [253]:
# criando uma variável que exibe um DataFrame unindo os dois DataFrame (dos dois séculos) contendo as informações de mortes e casos
USA_analise_ano=pd.merge(left=USA_concat_casos, right=USA_concat_mortes, on="year", how="outer")

In [254]:
# verificando o DataFrame
USA_analise_ano.head()

   year  casos  mortes
0  1900      4     NaN
1  1901      1     NaN
2  1902      3     1.0
3  1903      2     1.0
4  1904      3     2.0

In [255]:
# verificando a quantidade de linhas não-nulas de cada coluna
USA_analise_ano.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 116 entries, 0 to 115
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   year    116 non-null    int64
 1   casos   116 non-null    int64
 2   mortes  75 non-null     float64
dtypes: float64(1), int64(2)
memory usage: 3.6 KB

In [256]:
# substituindo os valores nulos na coluna de mortes por 0
USA_analise_ano["mortes"]=USA_analise_ano["mortes"].replace(np.nan, 0)

In [257]:
# criando uma nova coluna no DataFrame que exibe o índice de mortes para cada ano
USA_analise_ano["prop_mortes"]=USA_analise_ano["mortes"]/USA_analise_ano["casos"]

In [258]:
# verificando o DataFrame
USA_analise_ano.head()

   year  casos  mortes  prop_mortes
0  1900      4     0.0     0.000000
1  1901      1     0.0     0.000000
2  1902      3     1.0     0.333333
3  1903      2     1.0     0.500000
4  1904      3     2.0     0.666667

In [259]:
# verificando o número de anos para cada ocorrência de mortes
USA_analise_ano["mortes"].value_counts()

0.0    41
1.0    37
2.0    27
3.0     5
4.0     4
5.0     2
Name: mortes, dtype: int64

In [260]:
# verificando a correlação entre as variáveis do DataFrame
USA_analise_ano.corr()

                 year     casos    mortes  prop_mortes
year         1.000000  0.792549 -0.065693    -0.527312
casos        0.792549  1.000000  0.053420    -0.380861
mortes      -0.065693  0.053420  1.000000     0.511903
prop_mortes -0.527312 -0.380861  0.511903     1.000000

#### ANÁLISE DAS ATIVIDADES

In [261]:
# verificando a ocorrência de cada atividade nos casos do século 21
sa_2000.loc[sa_2000["country"]=="USA", :]["activity"].value_counts()

Surfing                                           347
Swimming                                          134
Wading                                             59
Standing                                           28
Fishing                                            28
                                                 ...
Sea Disaster                                        1
Standing or boogie boardin                          1
Swimming /  boogie boarding                         1
Boogie boarding / wading                            1
Walking, carrying surfboard & stepped on shark      1
Name: activity, Length: 144, dtype: int64

In [262]:
# verificando a ocorrência de cada atividade nos casos do século 20
sa_1900.loc[sa_1900["country"]=="USA", :]["activity"].value_counts()

Surfing                                                                              185
Swimming                                                                             122
Fishing                                                                               68
Wading                                                                                33
Standing                                                                              26
                                                                                    ...
The Cuban freighter Libertad was torpedoed and sunk by the German submarine U-129      1
Scuba diving, reportedly also spearfishing                                             1
Freediving for seashells                                                               1
Swept out to sea while net fishing                                                     1
Playing in surf with his child  (9)                                                    1
Name: activity, Length: 303, dtype: int64

In [263]:
# verificando a ocorrência de cada atividade nas mortes do século 21
sa_2000_mortes.loc[sa_2000_mortes["country"]=="USA", :]["activity"].value_counts()

Surfing                                        3
Snorkeling                                     2
Swimming                                       2
Swimming                                       2
Kayaking / Fishing                             1
Air Disaster                                   1
Swimming, wearing black wetsuit & swim fins    1
Jumped into the water                          1
Kite Boarding                                  1
Wreck / Technical diving                       1
Shark Fishing                                  1
Body boarding                                  1
Swimming with boogie board                     1
Swimming to shore from boat or kayak           1
Diving                                         1
Name: activity, dtype: int64

In [264]:
# verificando a ocorrência de cada atividade nas mortes do século 20
sa_1900_mortes.loc[sa_1900_mortes["country"]=="USA", :].activity.value_counts()

Swimming                                                       30
Fishing                                                         4
Scuba diving                                                    4
Surfing                                                         3
Snorkeling                                                      2
                                                               ..
Treading water                                                  1
25-foot cabin cruiser Happy Jack sank in heavy seas             1
Washed off freighter Huncliff by a freak wave                   1
Adrift after the sinking of the motor yacht Princess Dianne     1
Fell overboard & swimming                                       1
Name: activity, Length: 66, dtype: int64

In [265]:
def swim(text):
    """
        Substitui toda informação que diz que o usuário estava nadando para o mesmo padrão.
        Assim, a contagem é mais realista.
    """
    return re.sub(".*[Ss]wimming.*", "Swimming", text)

In [266]:
# definindo uma variável que exibe uma Séries que informa a quantidade de vezes de cada atividade em que a vítima morreu no século 21
USA_2000_mortes=sa_2000_mortes.loc[sa_2000_mortes["country"]=="USA", :]["activity"].apply(swim).value_counts()

In [267]:
# verificando a Séries criada
USA_2000_mortes.head()

Swimming              7
Surfing               3
Snorkeling            2
Shark Fishing         1
Kayaking / Fishing    1
Name: activity, dtype: int64

In [268]:
# transformando a Séries em um DataFrame
USA_2000_mortes=pd.DataFrame(USA_2000_mortes).rename({"activity": "mortes_2000-2018"}, axis=1)

In [269]:
# alterando o nome da coluna que antes era o índice
USA_2000_mortes.index.name="atividade"

In [270]:
# ressetando o índice
USA_2000_mortes.reset_index(inplace=True)

In [271]:
# verificando o DataFrame criado
USA_2000_mortes.head()

            atividade  mortes_2000-2018
0            Swimming                 7
1             Surfing                 3
2          Snorkeling                 2
3       Shark Fishing                 1
4  Kayaking / Fishing                 1

In [272]:
# definindo uma variável que exibe uma Séries que informa a quantidade de vezes de cada atividade em que a vítima morreu no século 20
USA_1900_mortes=sa_1900_mortes.loc[sa_1900_mortes["country"]=="USA", :].dropna(subset=["activity"])["activity"].apply(swim).value_counts()

In [273]:
# verificando a Séries criada
USA_1900_mortes.head()

Swimming         38
Fishing           4
Scuba diving      4
Surfing           3
Body boarding     2
Name: activity, dtype: int64

In [274]:
# transformando a Séries em um DataFrame
USA_1900_mortes=pd.DataFrame(USA_1900_mortes).rename({"activity": "mortes_1900-1999"}, axis=1)

In [275]:
# alterando o nome da coluna que antes era o índice
USA_1900_mortes.index.name="atividade"

In [276]:
# ressetando o índice
USA_1900_mortes.reset_index(inplace=True)

In [277]:
# verificando o DataFrame criado
USA_1900_mortes.head()

       atividade  mortes_1900-1999
0       Swimming                38
1        Fishing                 4
2   Scuba diving                 4
3        Surfing                 3
4  Body boarding                 2

In [278]:
# definindo uma variável que exibe uma Séries que informa a quantidade de casos de cada atividade no século 21
USA_2000=sa_2000.loc[sa_2000["country"]=="USA", :].dropna(subset=["activity"]).activity.apply(swim).value_counts()

In [279]:
# verificando a Séries criada
USA_2000.head()

Surfing     347
Swimming    153
Wading       59
Fishing      28
Standing     28
Name: activity, dtype: int64

In [280]:
# transformando a Séries em um DataFrame
USA_2000=pd.DataFrame(USA_2000).rename({"activity": "casos_2000-2018"}, axis=1)

In [281]:
# alterando o nome da coluna que antes era o índice
USA_2000.index.name="atividade"

In [282]:
# ressetando o índice
USA_2000.reset_index(inplace=True)

In [283]:
# verificando o DataFrame criado
USA_2000.head()

  atividade  casos_2000-2018
0   Surfing              347
1  Swimming              153
2    Wading               59
3   Fishing               28
4  Standing               28

In [284]:
# definindo uma variável que exibe uma Séries que informa a quantidade de casos de cada atividade no século 20
USA_1900=sa_1900.loc[sa_1900["country"]=="USA", :].dropna(subset=["activity"]).activity.apply(swim).value_counts()

In [285]:
# verificando a Séries criada
USA_1900.head()

Surfing     185
Swimming    165
Fishing      68
Wading       33
Standing     26
Name: activity, dtype: int64

In [286]:
# transformando a Séries em um DataFrame
USA_1900=pd.DataFrame(USA_1900).rename({"activity": "casos_1900-1999"}, axis=1)

In [287]:
# alterando o nome da coluna que antes era o índice
USA_1900.index.name="atividade"

In [288]:
# ressetando o índice
USA_1900.reset_index(inplace=True)

In [289]:
# verificando o DataFrame criado
USA_1900.head()

  atividade  casos_1900-1999
0   Surfing              185
1  Swimming              165
2   Fishing               68
3    Wading               33
4  Standing               26

* **Unindo os DataFrame criados com base nas atividades e calculando o índice de morte de cada século**

In [290]:
# criando a variável que exibe a união dos DataFrame criados
USA_activity=pd.merge(left=USA_2000, right=USA_2000_mortes, on="atividade")

In [291]:
# verificando a primeira união
USA_activity.head()

       atividade  casos_2000-2018  mortes_2000-2018
0        Surfing              347                 3
1       Swimming              153                 7
2     Snorkeling               20                 2
3  Body boarding               16                 1
4         Diving                6                 1

In [292]:
# criando uma nova coluna que indica o índice de mortes por atividade no século 21
USA_activity["prop_mortes_2000-2018"]=USA_activity["mortes_2000-2018"]/USA_activity["casos_2000-2018"]

In [293]:
USA_activity.head()

       atividade  casos_2000-2018  mortes_2000-2018  prop_mortes_2000-2018
0        Surfing              347                 3               0.008646
1       Swimming              153                 7               0.045752
2     Snorkeling               20                 2               0.100000
3  Body boarding               16                 1               0.062500
4         Diving                6                 1               0.166667

In [294]:
# unindo o novo DataFrame com o DataFrame dos casos do século 20
USA_activity=pd.merge(left=USA_activity, right=USA_1900, on="atividade")

In [295]:
# verificando a nova união
USA_activity.head()

,atividade,casos_2000-2018,mortes_2000-2018,prop_mortes_2000-2018,casos_1900-1999
0,Surfing,347,3,0.008646,185
1,Swimming,153,7,0.045752,165
2,Snorkeling,20,2,0.100000,7
3,Body boarding,16,1,0.062500,7
4,Diving,6,1,0.166667,11

In [296]:
# unindo o novo DataFrame com o DataFrame dos casos de mortes do século 20
USA_activity=pd.merge(left=USA_activity, right=USA_1900_mortes, on="atividade")

In [297]:
# verificando a nova união
USA_activity.head()

,atividade,casos_2000-2018,mortes_2000-2018,prop_mortes_2000-2018,casos_1900-1999,mortes_1900-1999
0,Surfing,347,3,0.008646,185,3
1,Swimming,153,7,0.045752,165,38
2,Snorkeling,20,2,0.100000,7,2
3,Body boarding,16,1,0.062500,7,2
4,Diving,6,1,0.166667,11,2

In [298]:
# criando uma nova coluna que indica o índice de mortes por atividade no século 20
USA_activity["prop_mortes_1900-1999"]=USA_activity["mortes_1900-1999"]/USA_activity["casos_1900-1999"]

In [299]:
# verificando o DataFrame finalizado
USA_activity.head()

,atividade,casos_2000-2018,mortes_2000-2018,prop_mortes_2000-2018,casos_1900-1999,mortes_1900-1999,prop_mortes_1900-1999
0,Surfing,347,3,0.008646,185,3,0.016216
1,Swimming,153,7,0.045752,165,38,0.230303
2,Snorkeling,20,2,0.100000,7,2,0.285714
3,Body boarding,16,1,0.062500,7,2,0.285714
4,Diving,6,1,0.166667,11,2,0.181818