# RAIN PREDICTION

In [1]:
# importando bibliotecas
import matplotlib.pyplot as plt
import numpy as np
from sklearn import datasets
import pandas as pd
from sklearn.metrics import precision_score, recall_score, roc_auc_score, plot_roc_curve
import warnings
warnings.simplefilter("ignore")

## Leitura dos Datasets

In [37]:
# disponibilizando a visualização de todas as colunas
pd.options.display.max_columns=99

In [39]:
# Dataset sobre a chuva

rain=pd.read_csv("./data/rain_data_aus.csv")

rain

,date,location,mintemp,maxtemp,rainfall,evaporation,sunshine,humidity9am,humidity3pm,pressure9am,pressure3pm,cloud9am,cloud3pm,temp9am,temp3pm,raintoday,amountOfRain,raintomorrow,temp,humidity,precipitation3pm,precipitation9am,modelo_vigente
0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,71.0,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No,0.0,No,29.48,28.400000,12,5.115360,0.089825
1,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,44.0,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No,0.0,No,32.12,2.208569,10,21.497100,0.023477
2,2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,38.0,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No,0.0,No,32.84,38.000000,17,20.782859,0.027580
3,2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,45.0,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,No,1.0,No,35.60,21.200000,8,12.028646,0.023962
4,2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,82.0,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,0.2,No,40.76,41.600000,9,11.883546,0.220164
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
142188,2017-06-20,Uluru,3.5,21.8,0.0,NaN,NaN,59.0,27.0,1024.7,1021.2,NaN,NaN,9.4,20.9,No,0.0,No,28.16,34.400000,12,5.848681,0.002556
142189,2017-06-21,Uluru,2.8,23.4,0.0,NaN,NaN,51.0,24.0,1024.6,1020.3,NaN,NaN,10.1,22.4,No,0.0,No,30.08,30.800000,10,6.653879,0.002053
142190,2017-06-22,Uluru,3.6,25.3,0.0,NaN,NaN,56.0,21.0,1023.5,1019.1,NaN,NaN,10.9,24.5,No,0.0,No,32.36,27.200000,9,19.715976,0.023350
142191,2017-06-23,Uluru,5.4,26.9,0.0,NaN,NaN,53.0,24.0,1021.0,1016.8,NaN,NaN,12.5,26.1,No,0.0,No,34.28,30.800000,12,0.985551,0.007195
142192,2017-06-24,Uluru,7.8,27.0,0.0,NaN,NaN,51.0,24.0,1019.4,1016.5,3.0,2.0,15.1,26.0,No,0.0,No,34.40,30.800000,15,4.381481,0.018811

In [40]:
# Dataset sobre o vento
wind1=pd.read_csv("./data/wind_table_01.csv")
wind2=pd.read_csv("./data/wind_table_02.csv")
wind3=pd.read_csv("./data/wind_table_03.csv")
wind4=pd.read_csv("./data/wind_table_04.csv")
wind5=pd.read_csv("./data/wind_table_05.csv")
wind6=pd.read_csv("./data/wind_table_06.csv")
wind7=pd.read_csv("./data/wind_table_07.csv")
wind8=pd.read_csv("./data/wind_table_08.csv")

## Limpeza de dados

### Unindo os Dataframe de chuva e vento

In [41]:
# verificando o tamanho de cada Dataframe do vento
print(wind1.shape)
print(wind2.shape)
print(wind3.shape)
print(wind4.shape)
print(wind5.shape)
print(wind6.shape)
print(wind7.shape)
print(wind8.shape)

(20000, 8)
(20000, 8)
(20000, 8)
(20000, 8)
(20000, 8)
(20000, 8)
(22193, 8)
(22193, 8)

In [42]:
# verificando se os Dataframe "wind7" e "wind8" são iguais
np.sum(wind7==wind8)==(wind7.shape[0]-wind7.isna().sum())

date             True
location         True
windgustdir      True
windgustspeed    True
winddir9am       True
winddir3pm       True
windspeed9am     True
windspeed3pm     True
dtype: bool

> Os Dataframe "wind7" e "wind8" são iguais. Portanto, o Dataframe "wind8" será desconsiderado.

In [43]:
# juntando todos os Datasets sobre vento em um único Dataframe

wind=pd.concat(objs=[wind1, wind2, wind3, wind4, wind5, wind6, wind7]).reset_index(drop=True)

wind

,date,location,wind_gustdir,wind_gustspeed,wind_dir9am,wind_dir3pm,wind_speed9am,wind_speed3pm,windgustdir,windgustspeed,winddir9am,winddir3pm,windspeed9am,windspeed3pm
0,2007-11-01,Canberra,NW,30.0,SW,NW,6.0,20.0,NaN,NaN,NaN,NaN,NaN,NaN
1,2007-11-02,Canberra,ENE,39.0,E,W,4.0,17.0,NaN,NaN,NaN,NaN,NaN,NaN
2,2007-11-03,Canberra,NW,85.0,N,NNE,6.0,6.0,NaN,NaN,NaN,NaN,NaN,NaN
3,2007-11-04,Canberra,NW,54.0,WNW,W,30.0,24.0,NaN,NaN,NaN,NaN,NaN,NaN
4,2007-11-05,Canberra,SSE,50.0,SSE,ESE,20.0,28.0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
142188,2017-06-25,Perth,NaN,NaN,NaN,NaN,NaN,NaN,E,26.0,SE,SE,4.0,11.0
142189,2017-06-25,SalmonGums,NaN,NaN,NaN,NaN,NaN,NaN,SE,15.0,SSE,E,7.0,6.0
142190,2017-06-25,Walpole,NaN,NaN,NaN,NaN,NaN,NaN,SSW,20.0,WNW,SSW,6.0,6.0
142191,2017-06-25,Hobart,NaN,NaN,NaN,NaN,NaN,NaN,NW,50.0,NNW,NNW,17.0,28.0
142192,2017-06-25,Launceston,NaN,NaN,NaN,NaN,NaN,NaN,NW,50.0,NNW,NNW,15.0,17.0

In [44]:
# verificando se os Dataframe de chuva e vento possuem o mesmo número de linhas
rain.shape[0]==wind.shape[0]

True

In [45]:
# unindo os Dataframe de chuva e vento

df=pd.merge(left=rain, right=wind, on=["date", "location"])

df

,date,location,mintemp,maxtemp,rainfall,evaporation,sunshine,humidity9am,humidity3pm,pressure9am,pressure3pm,cloud9am,cloud3pm,temp9am,temp3pm,raintoday,amountOfRain,raintomorrow,temp,humidity,precipitation3pm,precipitation9am,modelo_vigente,wind_gustdir,wind_gustspeed,wind_dir9am,wind_dir3pm,wind_speed9am,wind_speed3pm,windgustdir,windgustspeed,winddir9am,winddir3pm,windspeed9am,windspeed3pm
0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,71.0,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No,0.0,No,29.48,28.400000,12,5.115360,0.089825,W,44.0,W,WNW,20.0,24.0,NaN,NaN,NaN,NaN,NaN,NaN
1,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,44.0,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No,0.0,No,32.12,2.208569,10,21.497100,0.023477,WNW,44.0,NNW,WSW,4.0,22.0,NaN,NaN,NaN,NaN,NaN,NaN
2,2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,38.0,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No,0.0,No,32.84,38.000000,17,20.782859,0.027580,WSW,46.0,W,WSW,19.0,26.0,NaN,NaN,NaN,NaN,NaN,NaN
3,2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,45.0,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,No,1.0,No,35.60,21.200000,8,12.028646,0.023962,NE,24.0,SE,E,11.0,9.0,NaN,NaN,NaN,NaN,NaN,NaN
4,2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,82.0,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,0.2,No,40.76,41.600000,9,11.883546,0.220164,W,41.0,ENE,NW,7.0,20.0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
142188,2017-06-20,Uluru,3.5,21.8,0.0,NaN,NaN,59.0,27.0,1024.7,1021.2,NaN,NaN,9.4,20.9,No,0.0,No,28.16,34.400000,12,5.848681,0.002556,NaN,NaN,NaN,NaN,NaN,NaN,E,31.0,ESE,E,15.0,13.0
142189,2017-06-21,Uluru,2.8,23.4,0.0,NaN,NaN,51.0,24.0,1024.6,1020.3,NaN,NaN,10.1,22.4,No,0.0,No,30.08,30.800000,10,6.653879,0.002053,NaN,NaN,NaN,NaN,NaN,NaN,E,31.0,SE,ENE,13.0,11.0
142190,2017-06-22,Uluru,3.6,25.3,0.0,NaN,NaN,56.0,21.0,1023.5,1019.1,NaN,NaN,10.9,24.5,No,0.0,No,32.36,27.200000,9,19.715976,0.023350,NaN,NaN,NaN,NaN,NaN,NaN,NNW,22.0,SE,N,13.0,9.0
142191,2017-06-23,Uluru,5.4,26.9,0.0,NaN,NaN,53.0,24.0,1021.0,1016.8,NaN,NaN,12.5,26.1,No,0.0,No,34.28,30.800000,12,0.985551,0.007195,NaN,NaN,NaN,NaN,NaN,NaN,N,37.0,SE,WNW,9.0,9.0
142192,2017-06-24,Uluru,7.8,27.0,0.0,NaN,NaN,51.0,24.0,1019.4,1016.5,3.0,2.0,15.1,26.0,No,0.0,No,34.40,30.800000,15,4.381481,0.018811,NaN,NaN,NaN,NaN,NaN,NaN,SE,28.0,SSE,N,13.0,7.0

### EDA - Vento

In [46]:
# verificando informações sobre as colunas
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 142193 entries, 0 to 142192
Data columns (total 35 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   date              142193 non-null  object
 1   location          142193 non-null  object
 2   mintemp           141556 non-null  float64
 3   maxtemp           141871 non-null  float64
 4   rainfall          140787 non-null  float64
 5   evaporation       81350 non-null   float64
 6   sunshine          74377 non-null   float64
 7   humidity9am       140419 non-null  float64
 8   humidity3pm       138583 non-null  float64
 9   pressure9am       128179 non-null  float64
 10  pressure3pm       128212 non-null  float64
 11  cloud9am          88536 non-null   float64
 12  cloud3pm          85099 non-null   float64
 13  temp9am           141289 non-null  float64
 14  temp3pm           139467 non-null  float64
 15  raintoday         140787 non-null  object
 16  amountOfRain      142193 non-null  float64
 17  raintomorrow      142193 non-null  object
 18  temp              141871 non-null  float64
 19  humidity          138583 non-null  float64
 20  precipitation3pm  142193 non-null  int64
 21  precipitation9am  142193 non-null  float64
 22  modelo_vigente    142193 non-null  float64
 23  wind_gustdir      36419 non-null   object
 24  wind_gustspeed    36426 non-null   float64
 25  wind_dir9am       36932 non-null   object
 26  wind_dir3pm       38990 non-null   object
 27  wind_speed9am     39300 non-null   float64
 28  wind_speed3pm     39328 non-null   float64
 29  windgustdir       96444 non-null   object
 30  windgustspeed     96497 non-null   float64
 31  winddir9am        95248 non-null   object
 32  winddir3pm        99425 non-null   object
 33  windspeed9am      101545 non-null  float64
 34  windspeed3pm      100235 non-null  float64
dtypes: float64(24), int64(1), object(10)
memory usage: 39.1+ MB

> Algumas colunas de vento parecem ter informações repetidas ou complementares.

In [47]:
# verificando as colunas de vento
wind.columns

Index(['date', 'location', 'wind_gustdir', 'wind_gustspeed', 'wind_dir9am',
       'wind_dir3pm', 'wind_speed9am', 'wind_speed3pm', 'windgustdir',
       'windgustspeed', 'winddir9am', 'winddir3pm', 'windspeed9am',
       'windspeed3pm'],
      dtype='object')

In [48]:
# criando um Dataframe com as colunas de vento ordenadas

df_wind = df[['wind_gustspeed', 'windgustspeed', 'wind_gustdir', 'windgustdir', 'wind_dir9am', 'winddir9am', 
              'wind_dir3pm', 'winddir3pm', 'windspeed9am', 'wind_speed9am', 'windspeed3pm', 'wind_speed3pm']]
df_wind

,wind_gustspeed,windgustspeed,wind_gustdir,windgustdir,wind_dir9am,winddir9am,wind_dir3pm,winddir3pm,windspeed9am,wind_speed9am,windspeed3pm,wind_speed3pm
0,44.0,NaN,W,NaN,W,NaN,WNW,NaN,NaN,20.0,NaN,24.0
1,44.0,NaN,WNW,NaN,NNW,NaN,WSW,NaN,NaN,4.0,NaN,22.0
2,46.0,NaN,WSW,NaN,W,NaN,WSW,NaN,NaN,19.0,NaN,26.0
3,24.0,NaN,NE,NaN,SE,NaN,E,NaN,NaN,11.0,NaN,9.0
4,41.0,NaN,W,NaN,ENE,NaN,NW,NaN,NaN,7.0,NaN,20.0
...,...,...,...,...,...,...,...,...,...,...,...,...
142188,NaN,31.0,NaN,E,NaN,ESE,NaN,E,15.0,NaN,13.0,NaN
142189,NaN,31.0,NaN,E,NaN,SE,NaN,ENE,13.0,NaN,11.0,NaN
142190,NaN,22.0,NaN,NNW,NaN,SE,NaN,N,13.0,NaN,9.0,NaN
142191,NaN,37.0,NaN,N,NaN,SE,NaN,WNW,9.0,NaN,9.0,NaN
142192,NaN,28.0,NaN,SE,NaN,SSE,NaN,N,13.0,NaN,7.0,NaN

In [49]:
df_wind[((df_wind.wind_gustspeed.isna()) & (df_wind.windgustspeed.isna()))
        | ((df_wind.wind_gustdir.isna()) & (df_wind.windgustdir.isna())) 
        | ((df_wind.wind_dir9am.isna()) & (df_wind.winddir9am.isna()) 
        | ((df_wind.wind_dir3pm.isna()) & (df_wind.winddir3pm.isna())) 
        | ((df_wind.wind_speed9am.isna()) & (df_wind.windspeed9am.isna()) 
        | ((df_wind.wind_speed3pm.isna()) & (df_wind.windspeed3pm.isna()))))]

,wind_gustspeed,windgustspeed,wind_gustdir,windgustdir,wind_dir9am,winddir9am,wind_dir3pm,winddir3pm,windspeed9am,wind_speed9am,windspeed3pm,wind_speed3pm
14,50.0,NaN,WNW,NaN,NaN,NaN,WNW,NaN,NaN,NaN,NaN,22.0
25,57.0,NaN,WSW,NaN,NaN,NaN,W,NaN,NaN,0.0,NaN,26.0
63,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,13.0,NaN,9.0
64,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.0,NaN,11.0
74,39.0,NaN,NE,NaN,S,NaN,NaN,NaN,NaN,7.0,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
141904,NaN,48.0,NaN,WSW,NaN,NaN,NaN,W,0.0,NaN,28.0,NaN
142051,NaN,NaN,NaN,NaN,NaN,ESE,NaN,E,13.0,NaN,24.0,NaN
142058,NaN,56.0,NaN,ENE,NaN,NaN,NaN,N,0.0,NaN,11.0,NaN
142156,NaN,26.0,NaN,ENE,NaN,NaN,NaN,N,0.0,NaN,7.0,NaN
142163,NaN,39.0,NaN,WNW,NaN,NaN,NaN,NW,0.0,NaN,20.0,NaN

> Parece que quando há algum valor em uma coluna, a outra coluna correspondente apresenta valor nulo e vice-versa.

* **windgustdir e wind_gustdir**

In [50]:
# nulos em wind_gustdir
df["wind_gustdir"].isna().sum()

105774

In [51]:
# nulos em windgustdir
df["windgustdir"].isna().sum()

45749

In [52]:
# adicionando uma nova coluna
df["wind_gustdir_complete"]=df["wind_gustdir"]

In [53]:
# substituindo valores nulos
indices=df.loc[df["wind_gustdir"].isna(), "wind_gustdir"].index
values=df.iloc[indices, df.columns.get_loc("windgustdir")]
df.loc[df["wind_gustdir"].isna(), "wind_gustdir_complete"]=values

In [54]:
# nulos na nova coluna
df["wind_gustdir_complete"].isna().sum()

9330

* **windgustspeed e wind_gustspeed**

In [58]:
# nulos em wind_gustspeed
df["wind_gustspeed"].isna().sum()

105767

In [59]:
# nulos em windgustspeed
df["windgustspeed"].isna().sum()

45696

In [60]:
# adicionando uma nova coluna
df["wind_gustspeed_complete"]=df["wind_gustspeed"]

In [61]:
# substituindo valores nulos
indices=df.loc[df["wind_gustspeed"].isna(), "wind_gustspeed"].index
values=df.iloc[indices, df.columns.get_loc("windgustspeed")]
df.loc[df["wind_gustspeed"].isna(), "wind_gustspeed_complete"]=values

In [62]:
# nulos na nova coluna
df["wind_gustspeed_complete"].isna().sum()

9270

* **winddir9am and wind_dir9am**

In [63]:
# nulos em wind_dir9am
df["wind_dir9am"].isna().sum()

105261

In [64]:
# nulos em winddir9am
df["winddir9am"].isna().sum()

46945

In [65]:
# adicionando uma nova coluna
df["wind_dir9am_complete"]=df["wind_dir9am"]

In [66]:
# substituindo valores nulos
indices=df.loc[df["wind_dir9am"].isna(), "wind_dir9am"].index
values=df.iloc[indices, df.columns.get_loc("winddir9am")]
df.loc[df["wind_dir9am"].isna(), "wind_dir9am_complete"]=values

In [67]:
# nulos na nova coluna
df["wind_dir9am_complete"].isna().sum()

10013

* **winddir3pm e wind_dir3pm**

In [68]:
# nulos em wind_dir3pm
df["wind_dir3pm"].isna().sum()

103203

In [69]:
# nulos em winddir3pm
df["winddir3pm"].isna().sum()

42768

In [70]:
# adicionando uma nova coluna
df["wind_dir3pm_complete"]=df["wind_dir3pm"]

In [71]:
# substituindo valores nulos
indices=df.loc[df["wind_dir3pm"].isna(), "wind_dir3pm"].index
values = df.iloc[indices, df.columns.get_loc("winddir3pm")]
df.loc[df["wind_dir3pm"].isna(), "wind_dir3pm_complete"]=values

In [72]:
# nulos na nova coluna
df["wind_dir3pm_complete"].isna().sum()

3778

* **windspeed9am e wind_speed9am**

In [73]:
# nulos emw wind_speed9am
df["wind_speed9am"].isna().sum()

102893

In [74]:
# nulos emw windspeed9am
df["windspeed9am"].isna().sum()

40648

In [75]:
# adicionando uma nova coluna
df["wind_speed9am_complete"]=df["wind_speed9am"]

In [76]:
# substituindo valores nulos
indices=df.loc[df["wind_speed9am"].isna(), "wind_speed9am"].index
values=df.iloc[indices, df.columns.get_loc("windspeed9am")]
df.loc[df["wind_speed9am"].isna(), "wind_speed9am_complete"]=values

In [77]:
# nulos na nova coluna
df["wind_speed9am_complete"].isna().sum()

1348

* **windspeed3pm e wind_speed3pm**

In [78]:
# nulos em wind_speed3pm
df["wind_speed3pm"].isna().sum()

102865

In [79]:
# nulos em windspeed3pm
df["windspeed3pm"].isna().sum()

41958

In [80]:
# adicionando uma nova coluna
df["wind_speed3pm_complete"]=df["wind_speed3pm"]

In [81]:
# substituindo valores nulos
indices=df.loc[df["wind_speed3pm"].isna(), "wind_speed3pm"].index
values=df.iloc[indices, df.columns.get_loc("windspeed3pm")]
df.loc[df["wind_speed3pm"].isna(), "wind_speed3pm_complete"]=values

In [82]:
# nulos na nova coluna
df["wind_speed3pm_complete"].isna().sum()

2630

* **date**

In [83]:
# convertendo a coluna "date" para o tipo datetime
df["date"]=pd.to_datetime(df["date"])

### Dataframe final

In [84]:
# verificando as colunas
df.columns

Index(['date', 'location', 'mintemp', 'maxtemp', 'rainfall', 'evaporation',
       'sunshine', 'humidity9am', 'humidity3pm', 'pressure9am', 'pressure3pm',
       'cloud9am', 'cloud3pm', 'temp9am', 'temp3pm', 'raintoday',
       'amountOfRain', 'raintomorrow', 'temp', 'humidity', 'precipitation3pm',
       'precipitation9am', 'modelo_vigente', 'wind_gustdir', 'wind_gustspeed',
       'wind_dir9am', 'wind_dir3pm', 'wind_speed9am', 'wind_speed3pm',
       'windgustdir', 'windgustspeed', 'winddir9am', 'winddir3pm',
       'windspeed9am', 'windspeed3pm', 'wind_gustdir_complete',
       'wind_gustspeed_complete', 'wind_dir9am_complete',
       'wind_dir3pm_complete', 'wind_speed9am_complete',
       'wind_speed3pm_complete'],
      dtype='object')

In [85]:
# filtrando as colunas a serem usadas

df_final=df[['date', 'location', 'raintoday', 'raintomorrow','maxtemp', 'evaporation', 'sunshine', 'humidity9am', 'humidity3pm', 'pressure9am', 
           'pressure3pm', 'cloud9am', 'cloud3pm', 'temp9am', 'temp3pm', 'precipitation3pm', 'precipitation9am', 
           'wind_gustdir_complete', 'wind_gustspeed_complete', 'wind_dir9am_complete', 'wind_dir3pm_complete', 
           'wind_speed9am_complete', 'wind_speed3pm_complete']]

df_final

,date,location,raintoday,raintomorrow,maxtemp,evaporation,sunshine,humidity9am,humidity3pm,pressure9am,pressure3pm,cloud9am,cloud3pm,temp9am,temp3pm,precipitation3pm,precipitation9am,wind_gustdir_complete,wind_gustspeed_complete,wind_dir9am_complete,wind_dir3pm_complete,wind_speed9am_complete,wind_speed3pm_complete
0,2008-12-01,Albury,No,No,22.9,NaN,NaN,71.0,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,12,5.115360,W,44.0,W,WNW,20.0,24.0
1,2008-12-02,Albury,No,No,25.1,NaN,NaN,44.0,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,10,21.497100,WNW,44.0,NNW,WSW,4.0,22.0
2,2008-12-03,Albury,No,No,25.7,NaN,NaN,38.0,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,17,20.782859,WSW,46.0,W,WSW,19.0,26.0
3,2008-12-04,Albury,No,No,28.0,NaN,NaN,45.0,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,8,12.028646,NE,24.0,SE,E,11.0,9.0
4,2008-12-05,Albury,No,No,32.3,NaN,NaN,82.0,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,9,11.883546,W,41.0,ENE,NW,7.0,20.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
142188,2017-06-20,Uluru,No,No,21.8,NaN,NaN,59.0,27.0,1024.7,1021.2,NaN,NaN,9.4,20.9,12,5.848681,E,31.0,ESE,E,15.0,13.0
142189,2017-06-21,Uluru,No,No,23.4,NaN,NaN,51.0,24.0,1024.6,1020.3,NaN,NaN,10.1,22.4,10,6.653879,E,31.0,SE,ENE,13.0,11.0
142190,2017-06-22,Uluru,No,No,25.3,NaN,NaN,56.0,21.0,1023.5,1019.1,NaN,NaN,10.9,24.5,9,19.715976,NNW,22.0,SE,N,13.0,9.0
142191,2017-06-23,Uluru,No,No,26.9,NaN,NaN,53.0,24.0,1021.0,1016.8,NaN,NaN,12.5,26.1,12,0.985551,N,37.0,SE,WNW,9.0,9.0
142192,2017-06-24,Uluru,No,No,27.0,NaN,NaN,51.0,24.0,1019.4,1016.5,3.0,2.0,15.1,26.0,15,4.381481,SE,28.0,SSE,N,13.0,7.0

## Machine Learning

### Baseline